body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #D9DBF1;
    --sec-color: #416165;
    --font-color: #0B3948;
    --secfont-color: #D0CDD7;
}

/* Header Styles */
header {


    text-align: center;
    display: flex;
    justify-content: center;
    margin: 50px;
}

header img {
    height: 50px;
}

.navbar {
    border-bottom: 1px solid #BBBBBB;
}

.nav-link {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #031D44;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #031D44;
}

.nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
}

.nav-link-ltr:hover::before {
    width: 100%;
}

.nav-link-fade-up::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
}

.nav-link-fade-up:hover::before {
    bottom: 10px;
    opacity: 1;
}

.nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
}

.nav-link-grow-up:hover::before {
    height: 5px;
}

main {
    padding: 20px;
}

/* 
sign in log in 
*/
/* Add to existing styles */























/* form style */

.pers {

    /* left: 10px; */
    margin-top: auto;
    margin: 20px;

}

.sign {
    position: relative;
    margin: 40px;
}

.pers input {
    padding: 10px;
    outline: none;
    color: var(--font-color);
    border-radius: 5px;
    background-color: #e2f0ff;
    border: 1px solid rgba(250, 255, 255, 0.25);
    font-size: 1em;
    transition: 0.5s;
}

.pers span {
    position: absolute;
    top: -34px;
    left: -5px;
    padding: 3px;
    pointer-events: none;
    font-size: 1em;
    color: var(--font-color);
    text-transform: uppercase;
    transition: 0.5s;

}


.pers input:valid~span,
.pers input:focus~span {
    color: #00dfc4;
    transform: translate(12px) translateY(24px);
    padding: 0 10px;
    font-size: 0.65em;
    background-color: #1b2530;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2em;
}

.pers input:valid,
.pers input:focus {
    border: 1px solid #00dfc4;
}

.submit-button {
    background-color: #00dfc4;
    color: white;
    padding: 3px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    outline: none;
    text-decoration: none;
    border: #00dfc4;
    width: 110px;
    height: 30px;
    letter-spacing: 0.3px;
    border-radius: 5px;
    outline: none;
    margin-left: 135px;

}

.pers {
    border: solid 2px var(--sec-color);
    border-radius: 20px;
    padding: 10px;

}

.form-section {
    display: grid;
    justify-content: center;
}